//*Fuentes*// 
$main-font: 'IBM Plex Mono', monospace; 
$paragraph-size: 16px;
$small-size: 14px; 
$big-size: 20px; 
$medium-size: 17px; 
$logo-font: 'Indie Flower', cursive; 
$logo-font-big-size: 50px; 


//*Colores*//
$secondary-color: #e98a4b;
$title-color: black; 
$main-color: #686666; 
$items-color: #f7c9d0;
$line-color: #68666679;