.blog-font {
    font-family: $blog-font; 
    color: $blog-font-color;
    font-size: $blog-font-size;
}

.nav-font {
    font-family: $main-font;
    color: $main-font-color;
    font-weight: bold;
    font-size: $main-font-size;
}