//MI BLOG DE COCINA FONT// 
$blog-font: "Indie Flower", cursive;
$blog-font-color: #fa7855;
$blog-font-size: 45px;

//MENU DE NAVEGACION FONT//
$main-font:"IBM Plex Mono", monospace;
$main-font-color: #9d928d;
$main-font-size: 15px;

//SECCION BANNER //