//MI BLOG DE COCINA FONT// 
$blog-font: "Indie Flower", cursive;
$blog-font-color: #fa7855;
$blog-font-size: 45px;

//MENU DE NAVEGACION FONT//
$main-font:"IBM Plex Mono", monospace;
$main-font-color:#868c93;
$main-font-size: 15px;

//ASIDE SECTION //
$info-color: rgb(250, 220, 208);
$info-font-color: #a5a09e;
